@import "./variable.scss";
@import "./default.scss";
.background {
  background-color: $dark-blue2;
  font-family: $font1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  display: block;
  min-width: 70%;
  min-height: 80vh;
  background-color: $dark-blue1;
}
.container-form {
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: $dark-blue1;
  transition: all 0.6s ease-in-out;
}
.container-signup {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container-signin {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;
}
.form1 {
  margin: 2vw 5vw;
  color: $white;
}
.container.active-pannel.container-signup {
  transform: translateX(100%);
}
.container.active-panel.container-signin {
  animation: show 0.6s;
  opacity: 1;
  transform: translateX(100%);
  z-index: 5;
}
.form-flex {
  display: flex;
  flex-direction: column;

  padding: 0.2vw 0;
  height: 1px;
  h1 {
    align-self: center;
    margin: 1vw 0;
  }
  p {
    font-size: 12px;
  }
  button {
    margin: 0.5vw 0;
    background-color: $light-blue;
    border: none;
    outline: none;
    color: $white;
    font-weight: bold;
    padding: 0.8vw 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1vw;
    &:hover {
      background-color: darken($light-blue, 10%);
    }
  }
}
.textbox {
  display: flex;
  background-color: lighten($dark-blue1, 3%);
  margin: 0.5vw 0;
  border-radius: 3px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-left: 3px solid $light-blue;
  border-right: 3px solid $light-blue;

  span {
    @include flex-center;

    border-right: 1px solid $grey;
    i {
      padding: 0 15px;
    }
  }
  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    p {
      color: $light-blue;
      padding: 0.2vw 0.5vw;
      font-size: 14px;
      border-bottom: 1px solid $grey;
    }
    input {
      background-color: transparent;
      border: none;
      height: 2vw;
      color: $white;
      padding-left: 0.5vw;
      outline: none;
    }
  }
}

.container-overlay {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: transform 0.6s ease-in-out;
  width: 50%;
  z-index: 100;
}
.container.active-panel .container-overlay {
  transform: translateX(-100%);
}
.overlay {
  background-color: var(--lightblue);
  background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: -100%;
  position: relative;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 200%;
}

//  copies
.container.active-panel.overlay {
  transform: translateX(50%);
}

.overlay-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 50%;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.active-panel.overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.active-panel.overlay-right {
  transform: translateX(20%);
}

.btn {
  background-color: var(--blue);
  background-image: linear-gradient(
    90deg,
    var(--blue) 0%,
    var(--lightblue) 74%
  );
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form > .btn {
  margin-top: 1.5rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
