@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800&display=swap");
$dark-blue1: #0e0d2d;
$dark-blue2: hsl(237, 56%, 24%);
$card-blue: #463db2;
$light-blue: #7b98da;
$button-red: #ce3434;
$orange: #f9a251;
$white: #fff;
$grey: rgba(80, 80, 104, 0.4);
$font1: "Poppins", sans-serif;
