<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>

    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
</head>

<body>
    {{!-- <form action="/adminlogin" method="POST">
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Login</button>
    </form> --}}

<section class="background">
    <div class="container active-pannel">
        <div class="container-form container-signup">
            <form class="form1" id="form1" method="POST" action="">
                <h2>LOGO</h2>
                <div class="form-flex">
                    <h1>Sign up </h1>
                    <div class="textbox">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <div>
                            <p>Name</p>
                            <input name="name" type="text" placeholder=" Your Full Name" pattern="[A-Za-z\s]+"
                                required />
                        </div>
                    </div>
                    <div class="textbox">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <div>
                            <p>Email</p>
                            <input name="email" type="email" placeholder="Your EmailID" required />
                        </div>
                    </div>
                    <div class="textbox">
                        <span class="icon">
                            <i class="fas fa-unlock"></i>
                        </span>
                        <div>
                            <p>Password</p>
                            <input name="password" type="password" placeholder="Your Password" required />
                        </div>
                    </div>
                    <div class="textbox">
                        <span class="icon">
                            <i class="fas fa-unlock-alt"></i>
                        </span>
                        <div>
                            <p>Confirm Password</p>
                            <input name="cpassword" type="Password" placeholder="Re-enter Your Password" />
                        </div>
                    </div>
                   
                    <button type="submit">Sign up</button>
                </div>
            </form>
        </div>
        <div class="container-form container-signin">
            <form class="form1 form2" id="form2" action="/adminlogin" method="POST">
                <h2>LOGO</h2>
                <div class="form-flex">
                    <h1>Sign In </h1>

                    <div class="textbox" style="margin-top: 50px;">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <div>
                            <p>Email</p>
                            <input type="email" placeholder="Your EmailID" required name="email" />
                        </div>
                    </div>
                    <div class="textbox">
                        <span class="icon">
                            <i class="fas fa-unlock"></i>
                        </span>
                        <div>
                            <p>Password</p>
                            <input type="password" placeholder="Your Password" required name="password" />
                        </div>
                    </div>

                    
                    <button type="submit">Sign in</button>
                </div>
            </form>
        </div>

        <div class="container__overlay">
            <div class="overlay overlayadmin">
                <div class="overlay__panel overlay--left">

                    <p>TraveloCity</p>
                    <h1>Hello! Welcome to site</h1>
                    <p class="thin">If you already have an account</p>
                    <button id="signIn">Sign In</button>

                </div>
                <div class="overlay__panel overlay--right">

                    <p>TraveloCity</p>
                    <h1>Hello! Welcome Admin</h1>
                    <p class="thin">Login to Continue</p>
                 

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>

</html>