<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="brand">
            <h1>TraveloCity</h1>
        </div>
        <div class="nav-items">
            <div class="nav-item">
                <p>Home</p>
            </div>
            <a href="/aboutus">
            <div class="nav-item">
                <p>About Us</p>
            </div>
            </a>
            <a href="/contactus">
            <div class="nav-item">
                <p>Contact Us</p>
            </div>
            </a>
            <div class="nav-item">
                <a href="/blog"><p>New Blog</p></a>
            </div>
            <div class="dropdown">
                <button class="nav-item signin-button ">
                    {{#profile}}
                    <p>H! {{name}}</p>
                    {{/profile}}
                </button>
                <div class="dropdown-content">
                    <a href="/myblogs">My Blogs</a>
                    <a href="/logout">Logout</a>
                    
                </div>
               
             </div>
            
        </div>
    </nav>
    <section class="hero-sec">
        <div class="sky"></div>
        <div class="foreground"></div>
        <div class="mountain"></div>
        <div class="hero-container">
            <h1>
                The World is a Book, <br />Those Who do not Travel<br />Read Only One
                Page
            </h1>
            <p>Start New Blog now</p>
        <a href="/blog"> <button>Write Now <span class="fas fa-chevron-right"></span></button></a>
        </div>
    </section>
    
</body>
</html>