<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="form1" id="form1" method="POST" action="/createBlog">
        <input name="blogname" type="text" placeholder="Blog Name" required />
        <textarea name="blogcontent" id="" cols="30" rows="10"></textarea>
        <button type="submit">Sign up</button>
    </form>
</body>

</html>