<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar">
        <div class="brand">
            <h1>LOGO</h1>
        </div>
        <div class="nav-items">
            <div class="nav-item">
                <p>Home</p>
            </div>
            <div class="nav-item">
                <p>About Us</p>
            </div>
            <div class="nav-item">
                <p>Contact Us</p>
            </div>
            <a href="/signInUp">
                <div class="nav-item signin-button">
                    <p>Sign In</p>
                </div>
            </a>
        </div>
    </nav>
    <section class="hero-sec">
        <div class="sky"></div>
        <div class="foreground"></div>
        <div class="mountain"></div>
        <div class="hero-container">
            <h1>
                The World is a Book, <br />Those Who do not Travel<br />Read Only One
                Page
            </h1>
            <p>Browse Our Blog list</p>
            <button>Explore Now <span class="fas fa-chevron-right"></span></button>
        </div>
    </section>
    <section class="sec2">
        <div class="sec-container">
            <h1>Latest Blogs</h1>
            <div class="sec-head-border"></div>
            <div class="card-div">
                <div class="card">
                    <span class="">
                        <img class="card-img" src="assets/cardimg.jpg" alt="" />
                    </span>
                    <h3>Blog Headding lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel
                        dicta laudantium quis aliquam quo explicabo eveniet voluptates
                        expedita quam quia, accusamus amet eum cumque debitis.
                    </p>
                    <button>Read More</button>
                </div>
    
                <div class="card">
                    <span class="">
                        <img class="card-img" src="assets/cardimg.jpg" alt="" />
                    </span>
                    <h3>Blog Headding lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel
                        dicta laudantium quis aliquam quo explicabo eveniet voluptates
                        expedita quam quia, accusamus amet eum cumque debitis.
                    </p>
                    <button>Read More</button>
                </div>
    
                <div class="card">
                    <span class="">
                        <img class="card-img" src="assets/cardimg.jpg" alt="" />
                    </span>
                    <h3>Blog Headding lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel
                        dicta laudantium quis aliquam quo explicabo eveniet voluptates
                        expedita quam quia, accusamus amet eum cumque debitis.
                    </p>
                    <button>Read More</button>
                </div>
            </div>
        </div>
    </section>
    <section class="sec3">
        <div class="sec-container">
            <h1>Share Your Travel Blog</h1>
            <div class="sec-head-border"></div>
    
            <div class="s-3-slider-bg">
                <img class="sec3-image" src="assets/man.png" alt="a man" />
                <div class="sec3-info">
                    <h1>Hello</h1>
                    <p>become blogger Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, cupiditate.</p>
                    <button>Signup now</button>
                </div>
            </div>
        </div>
    </section>




    {{!-- <h1>Travel Blog</h1>
    <a href="/signInUp">SignInUp</a>
    <a href="/logout">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/blog">Blog</a>
    <div class="sec">
        <div class="s1"></div>
        <div class="c"></div>
        <div class="s2"></div>
        <div class="c"></div>
    </div> --}}
</body>

</html>