<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>
</head>

<body>
    
    <a href="/blog">Create Blog</a>
    {{#profile}}
    <h3>{{name}} </h3>
    <h3>{{email}}</h3>
    {{/profile}}
    {{#blog}}
    <h1>{{blogname}}</h1>
    <p>{{blogcontent}}</p>
    {{/blog}}
</body>

</html>